html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-login-wrapp.active, .form-sing-up-wrapp.active {
    display: block;
}

.form-login-wrapp, .form-sing-up-wrapp, .non-active {
    display: none;
}

.form-wrapp {
    position: relative;
    width: 350px;
    margin: 0 auto 30px;
}

.form input, .pop-up-form input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    font-size: 14px;
    color: #8D93A3;
    background: #FFFFFF;
    border: 1px solid #DCE5EC;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 20px;
}

.form-menu-item.active {
    color: #000000;
    border-bottom: 3px solid #FF0214;
}

.login {
    width: 198px;
    float: left;
    margin-right: 35px;
    padding-left: 6px;
}

.form-menu-item {
    font-style: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 600;
    color: #AFC0CC;
    padding-bottom: 13px;
    cursor: pointer;
    text-align: center;
}

.form-menu {
    max-width: 350px;
    height: 33px;
    margin: 0 auto 30px;
}

#form {
    padding-top: 50px;
    padding-bottom: 109px;
}

.update-modal-click {
    background-color: transparent;
    border: none;
    color: #337ab7;
}

.update-modal-click:hover {
    color: #23527c;
}

.pjax-delete-link {
    cursor: pointer;
}

.update-modal-click:focus, .pjax-delete-link:focus {
    outline: none;
}

.addresses-book-create {
    padding-bottom: 20px;
}

.img-preview {
    padding: 10px;
}

#viewFullImage {
    text-align: center;
}